{% extends 'base.html.twig' %}

{% block title %}Índice de productos{% endblock %}

{% block body %}
    <h1>Índice de productos</h1>

    <table class="table">
        <thead>
            <tr class = "text-center">
                <th>Id</th>
                <th>Nombre</th>
                <th>Stock</th>
                <th>Categoría de producto</th>
                <th>Fecha de creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr class = "text-center">
                <td class = "font-weight-bold bg-dark text-light">{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class = "btn btn-primary" href="{{ path('app_products_show', {'id': product.id}) }}">Ver</a>
                    <a class = "btn btn-primary" href="{{ path('app_products_edit', {'id': product.id}) }}">Editar</a>
                    <a class = "btn btn-orange"  href="{{ path('app_products_stock_management', {'producto': product.id})}}">Manejo de stock</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No se encontraron productos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class = "btn btn-orange" href="{{ path('app_products_new') }}">Crear nuevo producto</a>
{% endblock %}
