{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <h1>Productos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ product.stock }}</td>
            </tr>
            <tr>
                <th>Categoría</th>
                <td>{{ product.category.name }}</td>
            </tr>
            <tr>
                <th>Fecha de creación</th>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class = "btn btn-dark" href="{{ path('app_products_index') }}"><i class = "fa fa-arrow-left"></i> Volver al índice</a>

    <a class = "btn btn-primary" href="{{ path('app_products_edit', {'id': product.id}) }}">Editar</a>

    {{ include('products/_delete_form.html.twig') }}
{% endblock %}
