<div class="formularioDiv col-lg-6">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex flex-row col-lg-12 p-0">
        <button type = "submit" class="btn btn-success mr-1">{{ button_label|default('Guardar') }}</button>
        <a class="btn btn-dark" href="{{ path('app_categories_index') }}"><i class="fa fa-arrow-left"></i> Volver
            al
            índice</a>
    </div>
    {{ form_end(form) }}
</div>