{% extends 'base.html.twig' %}

{% block title %}Índice de categorías{% endblock %}

{% block body %}
    <h1>Índice de categorías</h1>

    <table class="table">
        <thead>
            <tr class = "text-center">
                <th>Id</th>
                <th>Nombre</th>
                <th>Fecha de creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr class = "text-center">
                <td class = "font-weight-bold bg-dark text-light">{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class = "btn btn-primary" href="{{ path('app_categories_show', {'id': category.id}) }}">Ver</a>
                    <a class = "btn btn-primary" href="{{ path('app_categories_edit', {'id': category.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No se encontraron categorías</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class = "btn btn-info" href="{{ path('app_categories_new') }}">Crear nueva categoría</a>
{% endblock %}
