{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

    <h1>Índice de usuarios</h1>

    <table class="table">
        <thead>
        <tr class = "text-center">
            <th>Id</th>
            <th>Nombre de usuario</th>
            <th>Roles</th>
            <th>Fecha de creación</th>
            <th>Contraseña</th>
            <th>¿Verificado?</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class = "text-center">
                <td class = "font-weight-bold bg-dark text-light">{{ user.id }}</td>
                <td>{{ user.userIdentifier }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.isVerified ? 'Sí' : 'No' }}</td>
                <td>
                    <a class = "btn btn-primary" href="{{ path('app_user_show', {'id': user.id}) }}">Ver</a>
                    <a class = "btn btn-primary" href="{{ path('app_user_edit', {'id': user.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">No se encontraron usuarios</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class = "btn btn-purple" href="{{ path('app_user_new') }}">Crear nuevo usuario</a>

{% endblock %}